<?xml version="1.0" encoding="utf-8" ?>
<!-- Настройки игрового процесса -->
<settings>
	<!-- Количество игроков -->
	<countUsers>5</countUsers>
	<!-- Количество ходов -->
	<countStaps>32</countStaps>
	<!-- Стартовый капитал -->
	<startedCapital>3000000</startedCapital>
	<!-- Обычный спрос на квартиры -->
	<demand>
		<!-- Стоимость квартиры -->
		<cost>1 000 000</cost>
		<!-- Количество купленных квартир -->
		<count>1</count>
	</demand>
	<!-- Уровень продаж - это процент от максимального объема продаж в месяц -->
	<levelSalesStore>70</levelSalesStore>
	<!-- Коэффициенты сезонов(времен года) Зима;Весна;Лето;Осень -->
	<coefsSeasons>
		<winter>0.2</winter>
		<spring>0.3</spring>
		<summer>0.4</summer>
		<autumn>0.5</autumn>
	</coefsSeasons>
	<!-- Гранца благоприятного события меньше нее благоприятное, больше не благоприятное -->
	<borderFavorableOutcome>0.8</borderFavorableOutcome>
</settings>